<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tsai CITY Calendar</title>
</head>

<body>

    <iframe
        src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=Zm05azIxM3Fmb203Y3NvdnZmNWRtN28yNGQ2cGhjcXVAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=MGs5cjdwaWkwaGNkMmI0N2xxMDgxMDAxYmlndm4zdDRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23CCA6AC&amp;color=%23F83A22&amp;title=Tsai%20CITY%20Website%20Events&amp;mode=WEEK"
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


    <p>Navigate to
        <code>/private</code> and
        <code>/public</code> for the ICS feeds</p>


    <p>Embed code:</p>

    <code> &lt;iframe
            src=&quot;https://calendar.google.com/calendar/b/2/embed?height=600&amp;amp;wkst=2&amp;amp;bgcolor=%23ffffff&amp;amp;ctz=America%2FNew_York&amp;amp;src=Zm05azIxM3Fmb203Y3NvdnZmNWRtN28yNGQ2cGhjcXVAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;amp;src=MGs5cjdwaWkwaGNkMmI0N2xxMDgxMDAxYmlndm4zdDRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;amp;color=%23CCA6AC&amp;amp;color=%23F83A22&amp;amp;title=Tsai%20CITY%20Website%20Events&amp;amp;mode=WEEK&quot;
            style=&quot;border-width:0&quot; width=&quot;800&quot; height=&quot;600&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot;&gt;&lt;/iframe&gt;</code>

</body>

</html>